.body {
    border-width: 5px;
    border-style: solid;
    border-color: black;
    min-height: 100vh;

}

.nav {
    border-width: 5px;
    border-style: solid;
    border-color: black;
}



.header {
    border-width: 5px;
    border-style: solid;
    border-color: black;
}