.body {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    min-height: 100vh;
    padding-left: 100px!important;


}

/* .main {
    border-width: 3px;
    border-style: solid;
    border-color: black;
    padding-left: 100px!important;
    min-height: 100%;
} */



.header {
    border-width: 3px;
    border-style: solid;
    border-color: black;
}
